{{#
	@name Books index
	@desc The books index template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<main class="outer-grid">
    <div class="grid gap-8 fluid-container md:grid-cols-12 md:gap-12 md:-mb-4 lg:-mb-8 xl:-mb-12">
        <div class="md:col-span-10 md:col-start-2">
            {{ partial:typography/h2 :content="title" }}
        </div>
    </div>

    {{ collection:books limit="10" paginate="true" as="items" }}
        {{ items }}
            <article class="grid gap-8 fluid-container md:grid-cols-12 md:gap-12 md:odd:rtl">
                <div class="flex items-center justify-center md:col-span-4 md:col-start-2">
                    <figure class="w-2/3 md:w-full">
                        {{ partial:components/picture :image="image" class="w-full h-auto shadow-2xl" cover="false" lazy="true" sizes="(min-width: 768px) 25vw, 90vw" }}
                    </figure>
                </div>

                <div class="self-center md:col-span-6">
                    {{ partial:typography/h2 class="mb-4" :content="title" }}

                    <div class="mb-4">
                        <span class="font-bold text-tertiary">Likes: </span>
                        <time class="font-bold text-primary">{{ likes }}</span>
                        <form action="{{ route:statamic.likes.store }}" method="POST">
                            {{ csrf_field }}
                            <input type="hidden" name="id" value="{{ id }}" />
                            <button class="font-bold text-sm uppercase tracking-widest text-secondary text-decoration-primary hover:underline" type="submit">Like this book</button>
                        </form>
                    </div>

                    {{ partial:typography/paragraph :content="teaser" }}

                    {{ partial:components/button label="{trans:strings.book_discover}" link_type="url" :entry="url" }}
                </div>
            </article>
        {{ /items }}

        {{ partial:components/pagination }}
    {{ /collection:books }}

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
