/node_modules
/public/css/
/public/hot
/public/img/
/public/js/
/public/mix-manifest.json
/public/static/
/public/storage
/public/vendor/
/storage/*.key
/storage/antlers-language-server
/vendor
CHANGELOG.md
.env
.env.backup
.phpunit.result.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
