{{#
	@name Footer
	@desc The sites footer rendered on each page.
#}}

<footer class="relative w-full pt-8 pb-24 md:pb-8 bg-neutral">
    <div class="fluid-container flex justify-between items-center text-sm font-bold text-creme-light">
        <div class="flex">
            <span>© 2005 - {{ now | format:Y }} - {{ config:app:name }}</span>

            {{ partial:navigation/footer }}

            {{# Let's users reset their cookie consent when you use the cookie banner. #}}
            {{ yield:reset_cookie_consent }}
        </div>

        <nav class="flex space-x-2">
            {{ if social_media:social_media }}
                {{ social_media:social_media }}
                    <a href="{{ prefix }}{{ url }}" rel="noopener" aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}" target="_blank">
                        {{ svg :src="type" class="w-4 h-4 transition-colors fill-current hover:text-primary" }}
                    </a>
                {{ /social_media:social_media }}
            {{ /if }}
        </nav>

    </div>
</footer>
