{{#
	@name Main navigation
	@desc The sites main navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity. There's a desktop and a mobile version.
#}}

{{# The desktop navigation. Hidden on smaller screen. Shown from md and up. #}}
<nav class="hidden md:block mb-3">
    <ul class="flex justify-end items-center space-x-2 lg:space-x-4 xl:space-x-6">
        {{ nav:main max_depth="2" include_home="true" }}
            <li class="relative leading-none">
                <a
                    class="
                        flex items-center px-1 pt-1 rounded-sm font-bold text-sm hover:text-secondary focus:outline-none focus-visible:ring-2 ring-primary ring-offset-4 ring-offset-creme-light
                        {{ is_current || is_parent
                            ? 'text-secondary underline underline-thickness-2 underline-offset-2'
                            : 'text-creme' }}"
                    href="{{ url }}"
                >
                    {{ title }}
                </a>
            </li>
        {{ /nav:main }}
    </ul>
</nav>

{{# The mobile navigation. Hidden from md and up #}}
<nav
    x-data="{ mobileNavOpen: false }"
    x-effect="mobileNavOpen
        ? document.body.classList.add('no-scroll')
        : document.body.classList.remove('no-scroll')"
    class="md:hidden"
>
    <button
        class="fixed z-50 w-16 h-16 flex flex-col justify-center items-center right-0 bottom-0 mb-safe mr-8 rounded bg-primary text-creme text-xs text-uppercase tracking-widest font-bold transition-colors"
        aria-label="Toggle menu"
        @click.prevent="
            mobileNavOpen = !mobileNavOpen,
            $refs.hamburger.classList.toggle('rotate-45'),
            $refs.lineTop.classList.toggle('draw-stroke'),
            $refs.lineBottom.classList.toggle('draw-stroke')"
    >
        <svg class="w-10 h-6 mt-2 overflow-visible transition-transform duration-500" x-ref="hamburger" viewBox="0 0 24 16">
            <path class="bg-creme stroke-current transition-all duration-500" x-ref="lineTop" stroke-linecap="round" stroke-dasharray="24 39" stroke-width="2" fill="none" d="M0 16l25.021.04s4.055.152 4.055-3.924c0-4.077-4.055-4.077-4.055-4.077L12.046 8v12"/>
            <path class="bg-creme stroke-current transition-all duration-500" stroke-width="2" stroke-linecap="round" fill="none" d="M24 8H0"/>
            <path class="bg-creme stroke-current transition-all duration-500" x-ref="lineBottom" stroke-linecap="round" stroke-dasharray="24 39" stroke-width="2" fill="none" d="M24-.067l-24.984.04S-5.04-.182-5.04 3.928-.984 8.04-.984 8.04L12.046 8 12-4"/>
        </svg>

        <span class="mt-2 text-base leading-none tracking-tight">menu</span>
    </button>

    <ul
        class="fixed z-40 right-[3rem] bottom-[3rem] py-6 px-8 flex flex-col rounded space-y-4 bg-neutral-blur bg-opacity-95 overflow-auto origin-bottom-right"
        @click.away="mobileNavOpen = false"
        x-show="mobileNavOpen"
        x-transition:enter="motion-safe:transition-all motion-safe:duration-300"
        x-transition:enter-start="scale-0 opacity-0"
        x-transition:enter-end="scale-100 opacity-100 "
        x-transition:leave="motion-safe:transition-all motion-safe:duration-300"
        x-transition:leave-start="scale-100 opacity-100"
        x-transition:leave-end="scale-0 opacity-0"
        x-cloak
    >
        {{ nav:main max_depth="2" include_home="true" }}
            <li class="leading-none">
                <a class="block py-2 pr-8 w-full font-bold text-lg hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary ring-offset-4 ring-offset-creme-light
                {{ is_current || is_parent
                    ? 'text-primary underline underline-thickness-2 underline-offset-2'
                    : 'text-creme' }}" href="{{ url }}"
                >
                   {{ title }}
                </a>
            </li>
        {{ /nav:main }}
    </ul>
</nav>
