{{#
	@name Introduction
	@desc The introduction page builder block.
    @set page.page_builder.introduction
#}}

<section class="relative w-full">
    <div class="relative fluid-container grid md:grid-cols-12 md:gap-x-8 lg:gap-x-16 gap-y-8 md:gap-y-12">
        <div class="relative md:col-span-6 lg:col-span-5 md:col-start-5 lg:col-start-5 flex flex-col items-end md:flex-none md:items-start">
            <figure class="w-2/3 h-auto mb-8 md:w-auto md:h-[55vh] md:min-h-[500px] md:max-h-[700px]">
                {{ partial:components/picture :image="block:image" class="" cover="true" lazy="false" sizes="(min-width: 768px) 33vw, 90vw" }}
            </figure>

            {{ partial:typography/title :content="block:text" class="md:absolute w-full md:top-1/3 md:left-[3rem] md:text-right md:-translate-x-full" }}
        </div>
    </div>

    <div class="absolute z-behind right-0 bottom-0 -mb-8 md:-mb-12 lg:-mb-16 xl:-mb-20 w-[130%] md:w-1/2 h-auto overflow-x-hidden">
        {{ svg:logo class=" text-primary opacity-10 fill-current translate-x-1/2 md:translate-x-0" }}
    </div>
</section>
